main.home {
  section.home__hero {
    position: relative;
    height: calc(100vh - var(--navHeight));
    max-height: calc(100vh - var(--navHeight));
    overflow: hidden;

    .home__banner {
      position: relative;
      padding-bottom: var(--contentPaddingY);
      height: calc(100vh - var(--navHeight));
      display: flex;
      justify-content: space-between;

      .home__banner__left,
      .home__banner__right {
        max-width: calc(100vw - 2 * var(--contentPaddingX));
      }

      .home__banner__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5rem;
        width: 50%;
        overflow: hidden;
        margin-top: -10vh;
        pointer-events: none;

        .home__banner__logo {
          position: relative;

          div {
            overflow: hidden;

            h1,
            p {
              transform: translateY(-110%);
              animation: comeFromTop 0.6s forwards;
            }

            h1 {
              font-size: 11rem;
              font-weight: bold;
              white-space: nowrap;
              gap: 4rem;
              line-height: 1em;
              font-family: 'Amatic SC';
              text-align-last: justify;
              animation-delay: 0.9s;
            }

            p {
              font-size: 48px;
              line-height: 1em;
              text-align-last: justify;
              letter-spacing: 10px;
              animation-delay: 1.1s;
            }
          }

          &::before,
          &::after {
            content: '';
            display: block;
            position: absolute;
            width: 20%;
            height: 5px;
            background-color: var(--pink);
          }

          &::before {
            top: -0.5rem;
            left: 0;
            animation: comeAndScaleDownFromRight 1.2s forwards;
          }

          &::after {
            bottom: -1rem;
            right: 0;
            animation: comeAndScaleDownFromLeft 1.2s forwards;
          }
        }

        > p {
          font-size: 1.5rem;
          opacity: 0;
          animation: fadeIn 1s forwards;
          animation-delay: 1.3s;
        }
      }

      .home__banner__right {
        width: 33%;
        display: flex;
        align-items: center;
        position: relative;
        z-index: -5;
        opacity: 0;
        transform-style: preserve-3d;
        transform: perspective(2000px) rotateY(-25deg) rotateX(20deg) scale(1);
        animation: fadeIn 1s forwards;
        animation-delay: 0.4s;
        will-change: transform;

        svg {
          width: 100%;
          height: auto;
          max-height: 100%;

          circle {
            opacity: 0;
            animation: fadeIn 2s forwards;
          }

          @for $i from 0 through 3 {
            circle#cirlce#{$i} {
              animation-delay: 0.5s * $i + 5s;
            }
          }

          mask rect {
            transform: scaleX(0);
            transform-origin: left;
          }

          @for $i from 0 through 100 {
            mask#mask#{$i} rect {
              animation: scaleX 0.5s forwards linear;
              animation-delay: $i * 0.5s + 1.2s;
            }
          }
        }
      }
    }

    .home__banner__arrow {
      cursor: pointer;
      position: absolute;
      bottom: 1rem;
      left: 50vw;
      transform: translateX(-50%);

      svg {
        opacity: 0;
        animation: fadeInFromTop 3s infinite;
        animation-delay: 2s;
      }
    }
  }

  section.home__projets {
    background-color: var(--black);
    color: white;

    h2 {
      font-size: var(--h2fontSize);
      font-family: 'Amatic SC';
      padding-bottom: var(--contentPaddingY);
    }

    .home__projets__item {
      --projetItemBottomPadding: 12rem;

      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: var(--projetItemBottomPadding);

      &.home__projets__item--right {
        > div {
          order: 1;
        }

        picture,
        > img {
          transform: translateX(-25%);
        }
      }

      &.home__projets__item--visible {
        > div {
          > *:not(a) span {
            animation: comeFromTop 0.6s forwards;
          }

          h3 span {
            font-size: var(--h3fontSize);
            animation-delay: 0.3s;
          }
          p {
            span {
              animation-delay: 0.5s;
            }
            &:last-child span {
              animation-delay: 0.7s;
            }
          }

          a {
            animation: scaleX 0.8s forwards;
            animation-delay: 0.8s;

            span {
              animation: fadeInFromTop 0.6s forwards;
              animation-delay: 1.4s;
            }
          }
        }

        picture,
        > img {
          opacity: 1;
          transform: perspective(1000px) rotateY(-15deg) rotateX(20deg);
        }

        &.home__projets__item--right {
          picture,
          > img {
            transform: perspective(2000px) rotateY(15deg) rotateX(10deg);
          }
        }
      }

      &:last-child {
        padding-bottom: 0;
      }

      > * {
        width: 45%;
      }

      > div {
        h3,
        p {
          overflow: hidden;

          span {
            will-change: transform;
            transform: translateY(-100%);
          }
        }

        p {
          font-size: 1.5rem;
          margin-bottom: var(--h3bottomMargin);

          span {
            display: block;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        a,
        a span {
          animation: none;
        }
      }

      picture,
      > img {
        opacity: 0;
        height: fit-content;
        transition: 0.8s;
        transform: translateX(25%);
        transform-style: preserve-3d;
        will-change: transform;

        img {
          width: 100%;
        }
      }
    }
  }

  &::after {
    content: 'DEV';
    font-family: 'Squada One';
    font-size: 50vw;
    color: rgba(var(--pinkR), var(--pinkG), var(--pinkB), 0.05);
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
  }
}

@media screen and (max-width: 3840px) and (min-width: 1921px) {
  main.home
    section.home__hero
    .home__banner
    .home__banner__left
    .home__banner__logo
    div {
    h1 {
      font-size: 10.5vw;
    }

    p {
      font-size: 3.595vw;
    }
  }
}

@media screen and (min-width: 3440px) {
  main.home
    section.home__hero
    .home__banner
    .home__banner__left
    .home__banner__logo {
    &::before,
    &::after {
      height: 8px;
    }
  }
}

@media screen and (max-width: 3440px) and (min-width: 1921px) {
  main.home
    section.home__hero
    .home__banner
    .home__banner__left
    .home__banner__logo
    div {
    h1 {
      font-size: 10.3vw;
    }

    p {
      font-size: 3.48vw;
    }
  }
}

@media screen and (max-width: 2560px) and (min-width: 1921px) {
  main.home
    section.home__hero
    .home__banner
    .home__banner__left
    .home__banner__logo
    div {
    h1 {
      font-size: 10vw;
    }

    p {
      font-size: 3.099vw;
    }
  }
}

@media screen and (max-width: 2048px) and (min-width: 1921px) {
  main.home
    section.home__hero
    .home__banner
    .home__banner__left
    .home__banner__logo
    div {
    h1 {
      font-size: 9.6vw;
    }

    p {
      font-size: 2.72vw;
    }
  }
}

@media screen and (max-width: 1919px) {
  main.home
    section.home__hero
    .home__banner
    .home__banner__left
    .home__banner__logo
    div {
    h1 {
      font-size: 8.84vw;
    }

    p {
      font-size: 2.12vw;
      letter-spacing: 0.62vw;
    }
  }
}

@media screen and (max-width: 1535px) {
  main.home
    section.home__hero
    .home__banner
    .home__banner__left
    .home__banner__logo
    div {
    h1 {
      font-size: 8.66vw;
    }

    p {
      font-size: 2.05vw;
    }
  }
}

@media screen and (max-width: 1439px) {
  main.home
    section.home__hero
    .home__banner
    .home__banner__left
    .home__banner__logo {
    div {
      h1 {
        font-size: 8.25vw;
      }

      p {
        font-size: 1.9vw;
      }
    }
    &::after,
    &::before {
      height: 5px;
    }
  }
}

@media screen and (max-width: 1279px) {
  main.home {
    section.home__hero .home__banner {
      margin-bottom: -20%;

      .home__banner__left {
        .home__banner__logo {
          &::before,
          &::after {
            height: 4px;
          }

          div {
            h1 {
              font-size: 8.85vw;
            }

            p {
              font-size: 2.13vw;
            }
          }
        }

        > p {
          font-size: 1.25rem;
        }
      }

      .home__banner__right {
        transform: perspective(2000px) rotateY(-25deg) rotateX(20deg) scale(0.8)
          translateY(-15%);
      }
    }

    section.home__projets .home__projets__item {
      --projetItemBottomPadding: 6rem;

      flex-direction: column;

      &.home__projets__item--visible {
        picture,
        > img {
          transform: perspective(1000px) rotateY(-15deg) rotateX(20deg)
            scale(0.8);
        }

        &.home__projets__item--right {
          picture,
          > img {
            transform: perspective(1000px) rotateY(15deg) rotateX(20deg)
              scale(0.8);
          }
        }
      }

      &.home__projets__item--right {
        > div {
          order: 0;
        }

        picture,
        > img {
          transform: scale(0.8) translateX(-25%);
        }
      }

      > * {
        width: 100%;
      }

      > div {
        margin-bottom: var(--h3bottomMargin);
      }

      picture,
      > img {
        transform: scale(0.8) translateX(25%);
      }
    }
  }
}

@media screen and (max-width: 1135px) {
  main.home
    section.home__hero
    .home__banner
    .home__banner__left
    .home__banner__logo
    div {
    h1 {
      font-size: 8.44vw;
    }

    p {
      font-size: 1.97vw;
    }
  }
}

@media screen and (max-width: 991px) {
  main.home {
    section.home__hero {
      height: auto;
      max-height: none;

      .home__banner {
        min-height: calc(100vh - var(--navHeight));
        height: auto;
        max-height: none;
        display: block;

        .home__banner__left {
          margin: 0;
          padding: 2rem 0;
          justify-content: flex-start;
          gap: 2rem;
          width: 100%;

          .home__banner__logo div {
            h1 {
              font-size: 17.95vw;
            }

            p {
              font-size: 4.5vw;
              letter-spacing: 1.177vw;
            }
          }
        }

        .home__banner__right {
          width: 100%;
        }
      }
    }

    section.home__projets .home__projets__item > div p {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 768px) {
  main.home {
    section.home__hero .home__banner {
      .home__banner__left {
        .home__banner__logo {
          &::before,
          &::after {
            height: 3px;
          }

          div {
            h1 {
              font-size: 20vw;
            }

            p {
              font-size: 5vw;
              letter-spacing: 1.2vw;
            }
          }
        }

        > p {
          font-size: 1rem;
        }
      }
    }
    section.home__projets .home__projets__item {
      --projetItemBottomPadding: 3rem;

      > div p {
        font-size: 1rem;
      }
    }
  }
}
