main.projet {
  --aboutFontSize: 1.5rem;
  --h1FontSize: 3rem;
  --descriptionFontSize: 1.5rem;

  display: flex;
  width: 100%;
  gap: 5vw;
  padding: var(--contentPaddingY) var(--contentPaddingX);

  section.projet__galerie {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 60%;
    padding: 0;

    video,
    img {
      box-shadow: 1px 1px 20px
        rgba(var(--blackR), var(--blackG), var(--blackB), 0.7);
      opacity: 0;
      transform: translateY(-3rem);
      transition: 0.8s;
    }

    .projet__galerie__image--visible,
    .projet__galerie__video--visible {
      opacity: 1;
      transform: translateY(0);
    }

    video {
      width: 100%;
    }

    > img,
    .projet__images__mobile img {
      width: 100%;
    }

    .projet__images__mobile {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
  }

  section.projet__presentation {
    width: 40%;
    padding: 0;
    position: sticky;
    top: 3rem;
    height: fit-content;

    div.projet__presentation__text {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-bottom: 3rem;

      h1 {
        overflow: hidden;

        span {
          @extend pinklines;

          font-size: var(--h1FontSize);
          font-family: 'Amatic SC';
          text-transform: uppercase;
          margin-bottom: 0;
          opacity: 0;
          animation: fadeInFromTop 0.6s forwards;
        }
      }

      pre {
        white-space: pre-wrap;
        opacity: 0;
        animation: fadeIn 1.2s forwards;
        animation-delay: 0.2s;
      }

      a.projet__presentation__text__visit {
        animation-delay: 0.5s;

        span {
          animation-delay: 1s;
        }
      }
    }

    div.projet__presentation__informations {
      display: flex;
      justify-content: space-between;

      h2 {
        margin-bottom: 1rem;

        span {
          font-size: 1.375rem;
          font-weight: 500;
        }
      }

      > div h2 {
        overflow: hidden;

        span {
          display: inline-block;
          opacity: 0;
          animation: fadeInFromTop 0.6s forwards;
          animation-delay: 1.2s;
        }
      }

      div.projet__presentation__informations__technologies {
        ul {
          list-style: none;

          li {
            margin-bottom: 0.25rem;
            overflow: hidden;

            @for $i from 0 through 30 {
              &.projet__presentation__informations__technologies--#{$i} span {
                opacity: 0;
                display: inline-block;
                animation: fadeInFromTop 0.5s forwards;
                animation-delay: calc(1.4s + #{$i} * 0.1s);
              }
            }
          }
        }
      }

      div.projet__presentation__informations__date p {
        overflow: hidden;

        span {
          opacity: 0;
          display: inline-block;
          animation: fadeInFromTop 0.5s forwards;
          animation-delay: 1.4s;
        }
      }

      div.projet__presentation__informations__links p {
        margin-bottom: 0.25rem;
        overflow: hidden;

        a {
          color: var(--pink);
        }

        span {
          opacity: 0;
          display: inline-block;
          animation: fadeInFromTop 0.5s forwards;

          &:nth-of-type(1) {
            animation-delay: 1.5s;
          }

          &:nth-of-type(2) {
            animation-delay: 1.6s;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1535px) {
  main.projet
    section.projet__presentation
    div.projet__presentation__informations {
    display: grid;
    grid-template-columns: repeat(2, fit-content(200px));

    > * {
      padding-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 991px) {
  main.projet {
    flex-direction: column;

    section.projet__galerie {
      order: 1;
      width: 100%;
    }

    section.projet__presentation {
      position: static;
      width: 100%;
    }
  }
}
