main {
  --aboutFontSize: 1.5rem;
  --h1FontSize: 6rem;
  --descriptionFontSize: 1.5rem;

  h2 {
    @extend pinklines;

    font-size: var(--aboutFontSize);
    font-weight: 700;
    font-family: 'Antic';
    padding-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 1px;

    &::before,
    &::after {
      width: 25px;
      height: 4px;
    }

    &::before {
      top: -4px;
    }

    &::after {
      transform: translateY(calc(-50% + 4px));
    }
  }

  section.projet__presentation {
    .projet__presentation__content {
      display: flex;
      justify-content: space-between;
      padding-top: var(--contentPaddingY);

      div.projet__presentation__text {
        width: 70%;

        h1 {
          font-size: var(--h1FontSize);
          text-transform: uppercase;
          font-family: 'Amatic SC';
        }

        p.projet__presentation__github,
        p.projet__presentation__url {
          padding-bottom: 0.5rem;
        }

        pre.projet__presentation__text__description {
          padding-top: 1rem;
          font-size: var(--descriptionFontSize);
          white-space: pre-wrap;
          padding-bottom: 2rem;
        }

        p.projet__presentation__text__visit {
          font-size: var(--aboutFontSize);

          a {
            text-decoration: none;

            svg {
              margin-left: 0.5rem;
            }
          }
        }
      }

      .projet__presentation__informations {
        > div {
          padding-bottom: 2rem;

          &:last-of-type {
            padding-bottom: 0;
          }
        }

        p.bigger {
          font-size: 1.25rem;
          font-weight: bold;
          padding-bottom: 1rem;
        }

        p:not(.bigger),
        li {
          font-size: 1.125rem;
        }

        .projet__presentation__informations__technologies {
          width: fit-content;

          ul {
            list-style: none;

            li {
              letter-spacing: 0.1em;
              padding-bottom: 0.25rem;
            }
          }
        }
      }
    }
  }

  section.projet__video {
    padding-top: 0;
  }

  section.projet__video {
    video {
      width: 100%;
      box-shadow: 6px 6px 25px;
      margin-top: 2rem;
    }
  }

  section.projet__images {
    padding: 0;
    margin: 2rem var(--contentPaddingX);

    h2 {
      margin-bottom: var(--contentPaddingY);
    }

    > div {
      display: flex;
      gap: 2rem;

      img {
        max-height: 30vh;
        min-height: 250px;
      }

      &:first-of-type {
        margin-bottom: var(--contentPaddingY);
      }
    }
  }
}

@media (max-width: 991px) {
  main {
    --aboutFontSize: 1.5rem;
    --descriptionFontSize: 1.25rem;

    section.projet__presentation {
      a svg {
        transform-origin: left;
        transform: scale(0.7);
      }

      .projet__presentation__content {
        display: block;

        div.projet__presentation__text {
          width: 100%;
        }

        div.projet__presentation__informations {
          padding-top: 3rem;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  main {
    --aboutFontSize: 1.25rem;
    --h1FontSize: 3rem;
    --descriptionFontSize: 1rem;

    section.projet__presentation
      .projet__presentation__content
      div.projet__presentation__informations {
      display: block;
    }
  }
}
