* {
  margin: 0;
  padding: 0;
  font-family: 'Antic', sans-serif;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: hsla(0, 0%, 60.8%, 0.5) white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 60.8%, 0.5);
  border-radius: 20px;
  border: 5px solid white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--navHeight);

  a {
    font-family: 'Amatic SC';
    font-size: 2.2rem;
    color: var(--black);
    text-decoration: none;
  }
}

h2 {
  font-size: var(--h2fontSize);
  font-family: 'Amatic SC';
  padding-bottom: var(--contentPaddingY);
}

h3 span,
pinklines {
  font-size: var(--h3fontSize);
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: var(--h3bottomMargin);

  &::before,
  &::after {
    content: '';
    display: block;
    width: 35px;
    height: 5px;
    background-color: var(--pink);
  }

  &::before {
    position: relative;
    margin-right: 1.5rem;
    top: -6px;
  }

  &::after {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(calc(-50% + 6px));
  }
}

section {
  padding: 0 var(--contentPaddingX);
}

section:not(.home__hero) {
  padding: var(--contentPaddingY) var(--contentPaddingX);
}

a {
  color: var(--blue);
}

@media (max-width: 768px) {
  h3 {
    &::before,
    &::after {
      width: 25px;
      height: 3px;
    }

    &::before {
      top: -3px;
    }

    &::after {
      transform: translateY(calc(-50% + 3px));
    }
  }
}
