:root {
  // Colors
  --pink: #fe4a57;
  --pinkR: 254;
  --pinkG: 74;
  --pinkB: 87;
  --black: #0f0f10;
  --blackR: 15;
  --blackG: 15;
  --blackB: 16;

  --navHeight: 10rem;
  --h2fontSize: 5rem;
  --h3fontSize: 2.5rem;

  --contentPaddingX: 11rem;
  --contentPaddingY: 4rem;
  --h3bottomMargin: 1.5rem;
}

@media screen and (max-width: 1279px) {
  :root {
    --navHeight: 6.5rem;
    --h2fontSize: 4rem;
    --h3fontSize: 2.25rem;

    --contentPaddingX: 8rem;
    --contentPaddingY: 3.2rem;
  }
}

@media screen and (max-width: 991px) {
  :root {
    --contentPaddingX: 5rem;
    --contentPaddingY: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --navHeight: 5rem;
    --h2fontSize: 3rem;
    --h3fontSize: 1.75rem;

    --contentPaddingX: 1.5rem;
    --contentPaddingY: 1rem;
  }
}
